@import "constant";

.git {
  margin: 5px;
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: @border-radius;

  .error {
    color: darkred;
    text-align: center;
  }

  & .repo-name a {
    font-size: 18px;
    color: #0052d9;
    text-decoration: none;
  }

  .description {
    font-size: 14px;
    margin: 10px 0;
  }

  .info {
    font-size: 14px;
    color: #999999;
  }
}
