@import "constant";

.halo-render {
 margin: 5px;
}

.invalid-type {
 color: red;
 margin: 5px;
 text-align: center;
 padding: 10px;
 background-color: lightpink;
 border-radius: @border-radius;
}

.halo-render-wrapper {
  margin: 20px 15px;
}

@font-face {
 font-family: 'iconfont';
 src: url('../fonts/iconfont.woff2?t=1703484934750') format('woff2'),
 url('../fonts/iconfont.woff?t=1703484934750') format('woff'),
 url('../fonts/iconfont.ttf?t=1703484934750') format('truetype');
}
